#axyPopupOverlay {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(8px);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999999;
}

#axyPopupOverlay.show {
    display: flex;
}

#axyPopupBox {
    width: 90%;
    max-width: 900px;

    min-height: 500px;

    background: #0a0a0a;

    border: 2px solid #d4af37;
    border-radius: 20px;

    padding: 40px;

    color: white;
    text-align: center;

    position: relative;

    box-shadow:
        0 0 40px rgba(212,175,55,0.45);

    animation: axyPopupAnim 0.3s ease;
}

#axyPopupClose {
    position: absolute;

    top: 15px;
    right: 20px;

    font-size: 32px;

    cursor: pointer;

    color: #d4af37;
}

#axyPopupClose:hover {
    color: white;
}

#axyPopupBox h1 {
    color: #d4af37;

    font-size: 3rem;

    margin-top: 20px;
}

#axyPopupBox p {
    font-size: 1.2rem;

    line-height: 1.7;

    margin-top: 20px;
}

#axyPopupButton {
    display: inline-block;

    margin-top: 35px;

    padding: 14px 28px;

    background: #d4af37;

    color: black;

    border-radius: 12px;

    font-weight: bold;

    cursor: pointer;
}

@keyframes axyPopupAnim {

    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}
